header {
  background-color: none;
  width: 100%;
  min-width: 1800px;
  padding: 20px 5% 0;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  position: relative;
  z-index: 30;
  height: 90px;
}
header:before {
  display: none;
}
.subTitlebox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: baseline;
  padding: 20px;
  background-color: #000;
  color: #fff;
}
.subHomebtn h1 {
  display: inline-block;
  font-size: 2em;
}
.subMenu {
  position: relative;
  text-align: right;
}
.subMenu_list {
  display: inline-block;
}
.subMenubtn {
  font-family: "Noto Serif KR", serif;
  font-size: 20px;
  display: block;
  position: relative;
}

main {
  width: 100% !important;
  min-width: 1800px !important;
  height: calc(100% - 123px) !important;
  padding: 0 5% 0 !important;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.subContentbox {
  width: 100%;
  height: calc(100% - 43px);
  border: 3px solid #000;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.7);
  min-height: 846px;
  position: relative;
}
.profileTop {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: top;
}
.profileBox {
  padding: 0 20px 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.profileBox h2,
.profileBoxfull h2 {
  font-size: 4em;
  margin-bottom: 20px;
}
.profileBox p {
  display: inline-block;
  font-size: 24px;
  font-family: "Noto Serif KR";
}
.profilephoto {
  width: calc(20% + 5px);
  padding-left: 0;
  overflow: hidden;
  position: relative;
}
.profilephoto img {
  position: absolute;
  top: -38px;
}
.profileName {
  width: calc(40% - 2.5px);
}
.profileName h2 {
  font-family: "Noto Serif KR";
  font-weight: 600;
}
.profileContact {
  width: calc(40% - 2.5px);
  border-right: 0;
}
.profileBox .profilInvisible {
  color: transparent;
}
.profileBottom {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
}
.profileBoxfull {
  height: 50%;
  display: flex;
}
.profileBoxfull h2 {
  width: 20%;
  padding: 20px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin-right: 5px;
}
.profileBoxfull .profileContent {
  width: 80%;
  padding: 20px 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin-left: 5px;
}
.profileBoxfull .profileSkill {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profileSkill span {
  width: 150px;
  height: 150px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 55px 0;
  color: #fff;
  border: 10px solid;
  box-sizing: border-box;
  border-radius: 40px;
  box-shadow: 0 0 15px rgb(0 0 0 / 30%);
  /* font-family: "Noto sans serif"; */
}
.profileSkill .Photoshop {
  border-color: #2fa3f7;
  background-color: #082d47;
  padding: 43px 0;
}
.profileSkill .Illustrator {
  border-color: #f79500;
  background-color: #e45b00;
  padding: 43px 0;
}
.profileSkill .Indesign {
  border-color: #f73163;
  background-color: rgb(46, 8, 19);
  padding: 43px 0;
}
.profileSkill .Xd {
  border-color: #ff61f6;
  background-color: rgb(177, 10, 60);
}
.profileSkill .html5 {
  border-color: #dd4b25;
  background-color: #e96228;
}
.profileSkill .css {
  border-color: #006bc0;
  background-color: #0096dc;
}
.profileSkill .jquery {
  border-color: #0868ab;
  background-color: #131b28;
}
.profileCareer {
  padding-bottom: 0;
}
.profileContent > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.careerYear {
  font-size: 2em;
  width: 20%;
}
.careerJob {
  width: 80%;
  text-align: left;
  font-family: "Noto Serif KR";
  font-size: 24px;
}
.careerJob span {
  margin-top: 10px;
  font-family: "Noto Serif KR";
  font-size: 16px;
}
.editBlobbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  padding-top: 58px;
  overflow: hidden;
  box-sizing: border-box;
}
.blob {
  display: block;
  background-size: 1600% 1600%;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  perspective: 1000px;
  animation: transform 50s ease-in-out infinite both alternate,
    movement 40s ease-in-out infinite both;
  position: absolute;
}
.blob1 {
  background-color: #b983ff;
  box-shadow: 10px 30px 37px 37px #8843f2 inset;
  width: 40vh;
  height: 40vh;
  bottom: 0%;
  left: -8%;
}
.blob2 {
  background-color: #94b3fd;
  box-shadow: 10px 30px 37px 37px #548cff inset;
  width: 40vh;
  height: 40vh;
  left: 31%;
  bottom: 15%;
  z-index: -3;
  opacity: 50%;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}
.blob3 {
  background-color: #b7e6ff;
  box-shadow: 10px 30px 37px 37px #b2b9f8 inset;
  width: 40vh;
  height: 40vh;
  bottom: -3%;
  right: 0;
}
.blob4 {
  background-color: #99feff;
  box-shadow: 10px 30px 37px 37px #77e4d4 inset;
  width: 20vh;
  height: 20vh;
  right: 36%;
  bottom: 10%;
  filter: blur(15px);
  -webkit-filter: blur(15px);
}
.blob5 {
  background-color: #94daff;
  box-shadow: 10px 30px 37px 37px #998ceb inset;
  width: 20vh;
  height: 20vh;
  bottom: 40%;
  left: 15%;
}
.blob6 {
  background-color: #93ffd8;
  box-shadow: 10px 30px 37px 37px #77e4d4 inset;
  width: 30vh;
  height: 30vh;
  left: 0;
  bottom: 50%;
  z-index: -5;
  opacity: 50%;
  filter: blur(15px);
  -webkit-filter: blur(15px);
}
.blob7 {
  background-color: #96baff;
  box-shadow: 10px 30px 37px 37px #7c83fd inset;
  width: 30vh;
  height: 30vh;
  left: 15%;
  bottom: 5%;
  filter: blur(15px);
  -webkit-filter: blur(15px);
  opacity: 60%;
  z-index: -6;
}
.blob8 {
  background-color: #77acf1;
  box-shadow: 10px 30px 37px 37px #1cc5dc inset;
  width: 15vh;
  height: 15vh;
  bottom: 55%;
  right: 5%;
  filter: blur(15px);
  -webkit-filter: blur(15px);
  opacity: 85%;
}
.blob9 {
  background-color: #e4fbff;
  box-shadow: 10px 30px 37px 37px #97e5ef inset;
  width: 30vh;
  height: 30vh;
  bottom: -14%;
  right: 20%;
}
.blob10 {
  background-color: #fcc8f8;
  box-shadow: 10px 30px 37px 37px #eab4f8 inset;
  width: 100vh;
  height: 80vh;
  left: 0;
  bottom: -20%;
  filter: blur(15px);
  -webkit-filter: blur(15px);
  opacity: 60%;
  z-index: -7;
}
.blob11 {
  background-color: #cffffe;
  box-shadow: 10px 30px 37px 37px #a6f6f1 inset;
  width: 100vh;
  height: 80vh;
  right: 3%;
  bottom: -15%;
  filter: blur(15px);
  -webkit-filter: blur(15px);
  z-index: -8;
}

@keyframes transform {
  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
    transform: translate(10%, 10%);
  }
  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
    transform: translate(25%, 15%);
  }
  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
    transform: translate(15%, 20%);
  }
  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
    transform: translate(15%, 25%);
  }
  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    transform: translate(25%, 15%);
  }
  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
    transform: translate(20%, 15%);
  }
  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
    transform: translate(10%, 10%);
  }
}
